@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .max_container {
        @apply mx-auto max-w-[1000px];
    }
    .padding_container {
        @apply px-6 py-4 lg:px-20 3xl:px-0;
    }
    .flex_between {
        @apply flex justify-between;
    }
}

